.tall-boi-hours {
    height: 2000px;
}

.tall-boi-hours, footer {
    padding: 10px;
}

.progress {
    position: fixed;
    height: 250px;
    width: 250px;
    top: 50px;
    right: 50px;
    z-index: 3;
    background-color: aqua;
}

.red {
    background-color: red;
}

.insider {
    background-color: black;
    width: 100%;
    height: 0;
    z-index: 5;
}

svg {
    position: fixed;
    z-index: 3;
}

.white-wrapper svg {
    right: 50px;
    z-index: 1;
}

#circle-wrapper {
    transform: rotate(-90deg);
    right: 50px;
    z-index: 3;
}

#circle-lol {
    stroke: black;
    z-index: 3;
}

#emoji {
    margin-top: 50px;
    right: 80px;
    z-index: 3;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

.pop-in {
    animation: pop-in;
    animation-duration: 1s;
    z-index: 5;
    position: relative;
}

@keyframes pop-in {
    0% {
        opacity: 0;
        z-index: 5;
    }
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.fade-out {
    animation: fade-out;
    animation-duration: 1s;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.grey-out {
    animation: grey-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes grey-out {
    0% {
        /* stroke: #000; */
    }
    100% {
        stroke: #b1cc33;
    }
}
