/* this is scroller CSS until I figure out how to abstract it out */

svg {
    position: fixed;
    z-index: 3;
  }
  
  .white-wrapper svg {
    right: 50px;
    z-index: 2 !important;
  }
  
  #circle-wrapper {
    transform: rotate(-90deg);
    right: 50px;
    z-index: 3;
  }
  
  #circle-lol {
    stroke: black;
    z-index: 3;
  }
  
  .check-mark-wrapper {
    position: fixed;
    z-index: 999;
    top: 2rem;
  }
  
  #check {
    margin-top: 50px;
    right: 80px;
    z-index: 3;
  }
  
  #x-icon {
    margin-top: 52px;
    right: 102px;
    z-index: 3;
  }
  
  .hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none;
  }
  
  .checkmark, .x-mark, .white-wrapper {
    opacity: 0;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 5s ease-out 1s, visibility 0s 1s;
  }
  
  .white-wrapper:not(.hidden) {
    opacity: 1;
    visibility: visible;
  }
  
  .grey-out {
    stroke: #000;
    transition: stroke 5s ease-out;
  }
  
  /* end scroller CSS */